#one {
    border: solid;
    border-width: 2px;
    border-style: dashed;
    margin: 3px;
}

.box {
    width: 100px;
    height: 100px;
}

.board {
    height: 600px;
    width: 600px;
    margin: 300px;
}

